[submodule "Engine"]
	path = Engine
	url = git@github.com:Podcrash/Engine.git
[submodule "Conquest"]
	path = Conquest
	url = git@github.com:Podcrash/Conquest.git
[submodule "discord-bot"]
	path = discord-bot
	url = https://github.com/Podcrash/discord-bot
[submodule "Islands"]
	path = Islands
	url = git@github.com:Podcrash/Islands.git
[submodule "Squad-Assault"]
	path = Squad-Assault
	url = git@github.com:Podcrash/Squad-Assault.git
