[submodule "Engine"]
	path = Engine
	url = git@github.com:Podcrash/Engine.git
[submodule "Conquest"]
	path = Conquest
	url = git@github.com:Podcrash/Conquest.git
[submodule "discord-bot"]
	path = discord-bot
	url = https://github.com/Podcrash/discord-bot
